::-webkit-scrollbar {
    width: 6px;
}
  
::-webkit-scrollbar-track {
    background-color: #1e1e1e; 
}
  
::-webkit-scrollbar-thumb {
    background-color: #555; 
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #acacac;
}

::-webkit-scrollbar-corner {
    background-color: #1e1e1e;
}

body {
    background-color:#373d5e;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    font-style: normal;
}

a {
    text-decoration: none
}

#loops {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    -o-filter: blur(10px);
    filter: blur(10px);
    transform: scale(1.04);
}

.container {
    display: flex;
    position: absolute;
    min-height: 100%;
    min-width: 800px;
    width: 100vh;
    height: 100vh;
    margin: 0 auto;
    backdrop-filter: blur(5px);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.roundthing {
    display: flex;
    background-color:#0000008e;
    align-content: center;
    text-shadow: #222326;
    max-width: 1200px;
    height: 350px;
    margin: 0 auto;
    margin-top: 4%;
    padding: 20px;
    border-radius: 50px 50px 50px 50px;
    overflow: auto;
    
}

h1 {
    color: rgb(247, 247, 247);
    margin: auto;
    text-align: center;
    margin-top: 5%;
    margin-left: 0;
    margin-right: 5%;
    font-size: 100%;
}

h2 {
    color: rgb(247, 247, 247);
    text-align: center;
    font-size: 200%;
}

h3 {
    color: rgb(247, 247, 247);
    text-align: center;
    font-size: 150%;
}

p {
    color: rgb(209, 207, 207);
    font-size: 25px;
    
}

.leftside {
    border-right: solid;
    border-color: #63587048;
    margin: auto;
    margin-left: 2%;
    margin-right: auto;
}

.rightside {
    width: auto;
    margin-left: 50px;
    margin-right: auto;
    font-size: 30px;
    margin-bottom: auto;
}

.profilepic {
    width: 250px;
    height: auto;
    border-radius: 50%;
    border: solid 5px #222326af;
}

.profileimage {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    padding: auto;
    margin-right: 40px;
}

#name {
    margin: auto;
    width: auto;
    font-size: 150%;
}



.sec2 {
    display: grid;  
    grid-template-columns: auto auto;
    grid-row: auto auto;
    max-width: 1400px;
    height: auto;
    justify-content: space-evenly;
    background-color: #0000008e;
    background-size: cover;
    margin: 0 auto;
    border-radius: 100px 100px 100px 100px;
    overflow: auto;
    text-align: auto;
    margin-bottom: 4%;
}

.sec25 {
    display: flex;
    justify-content:center;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: auto;
}

#resumeicon {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    height: 40px;
}

#github_button img{
    filter: invert();
    height: 50px;
}

#email_button img{
    filter: invert();
    height: 40px;
}


.about {
    margin-top: 25px;
    margin-left:  70px;
    margin-right: 10%;
    margin-bottom: auto;
}

figure {
    color: rgb(209, 207, 207);
    font-size: large;
    background-color: #222326af;
    border-radius: 15%;
    padding-bottom: 5px;
    margin: auto;
    text-align: center;
}

.about_right {
    margin-top: 70px;
    margin-right: 70px;
}

#utrgv {
   width: 400px;
   height: 400px;
   object-fit: cover;
   border-radius: 15%;
}

.projects {
    grid-column: 3/1;
    margin-top: 25px;
    margin-left:  70px;
    margin-right: 70px;
    margin-bottom: 70px;
    text-align: center;
    padding-bottom: 10px;
}

.proj2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    grid-gap: 20px;
    max-width: 1000px;
}

#githubproj {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.proj {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    background-color: #222326af;
    border-radius: 15%;
    margin: auto;
}

button {
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    width: 70px;
    height: 70px;
    font-size: 20px;
    border: none;
    background: #0000008e;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
}

.project_button {
    height: 300px;
    width: 350px;
    object-fit: cover;
    border-radius: 10%;
}

.projtext {
    font-size: large;
    margin-left: 10px;
    margin-right: 10px;
}

button:hover {
    background: #ddd;
    color: black;
}

button img {
    height: 50px;
}

#linkedin_button img {
    height: 40px;
}

@media screen and (max-width: 1200px) {  /* for mobile users only */
    html {
        max-width: auto;
    }

    p {
        font-size: 20px;
        margin-left: 2%;
        margin-right: 2%;
    }

    h1 {
        font-size: auto;
        margin:auto;
        margin-top: 5%;
    }

    #loops {
        min-height: 100vh;
        min-width: 100vh;
        position: fixed;
    }

    #utrgv {
        width: 350px;
        height: 350px;
    }

    #name {
        font-size: 100%;
    }

    .leftside {
        border: hidden;
        align-content: center;
        margin: auto;
    }

    .rightside {
        margin:auto;
    }

    .profileimage {
        margin: auto;
    }

    .profilepic {
        width: 50%;
        max-height: 500px;
    }

    .roundthing {
        margin:auto;
        width: auto;
        height: auto;
        border-radius: 0px 0px 30px 30px;
        flex-direction: column;
        text-align: center;
    }

    .sec2 {
        grid-template-columns: auto;
        width: auto;
        height: auto;
        margin: auto;
        margin-right: auto;
        height: auto;
        border-radius: 30px 30px 0px 0px;
        text-align: center;
    }

    .sec25 {
        margin-top: 5%;
        margin-bottom: 5%;
 
    }

    .links {
        margin: auto;
        margin-right: 3%;
        margin-left: 3%;
        gap: 5px;
        overflow: auto;
        white-space: nowrap;
    }
    .githubproj {
        margin: auto;
        flex: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .about {
        margin-left: 5%;
        margin-right: 5%;
    }

    .projects {
        grid-column: auto;
        margin-left: 5%;
        margin-right: 5%;
        justify-content: center;
    }

    .about_right {
        margin: auto;
        margin-top: 30px;
    }

    .proj {
        max-width: 350px;
        min-height: 520px;
    }

    .project_button {
        max-width: 300px;
        margin: 10px;
    }

    .proj2 {
        display: flex;
        flex-direction: column;
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
        grid-gap: 20px;
        max-width: 1000px;
    }
  }
